
@{
    Layout = "_Admin";
}
<div>
    <table class="table  table-striped">
        <tr>
            <th colspan="2" align="justify">
                <h3>WelCome @ViewBag.userName !!!</h3>
            </th>
        </tr>
    </table>
</div>

